
{% block title %} Blogs {% endblock %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>


   <h1 class="text-3xl font-bold mb-6">Blog Posts</h1>

   <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
       {% for blog in blogs %}
           <div class="border p-4 rounded-lg shadow-md">
               <h2 class="text-xl font-bold mb-2">{{ blog.title }}</h2>
               {% if blog.image %}
                   <img
                       src="{{ blog.image.url }}"
                       alt="{{ blog.title }}"
                       class="w-full h-48 object-cover rounded-lg mb-4"
                   >
               {% endif %}
               <p class="text-gray-700 mb-4">{{ blog.content }}</p>
               <p class="text-sm text-gray-600">Published date: {{ blog.published_date }}</p>
               <p class="text-sm text-gray-600">By {{ blog.author }}</p>

           </div>
       {% endfor %}
   </div>
{% endblock %}